.playBoard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #CDD0D1;
}

.playBoard__block {
    padding: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.playBoard__block--disabled{
    pointer-events: none;
    cursor: none;
}

.playBoard__block--hidden {
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.84), inset -2px -2px 2px 0px rgba(0, 0, 0, 0.84);
}