html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
    margin: 0;
}

body {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    max-width: 620px;
    user-select: none;
    background-color: #4EB1BA;
    text-align: center;
}

.header {
    color: #E9E9E9;
    padding: 20px;
    margin: 0;
}
